<div class="quote-wrapper">
  <div class="container-search">
    <div class="buttonInside">
      <input
        type="text"
        id="id"
        placeholder="Character name..."
        class="form-control"
        [(ngModel)]="searchTerm"
      />
      <button id="erase" (click)="searchWeb()">
        <span class="material-icons-outlined"> search </span>
      </button>
    </div>
  </div>
  <div class="container" *ngIf="hidden">
    <div class="quote-message">
        
      <div class="quote-title">
        <span style="color:rgb(77, 76, 76);" class="material-icons-outlined"> auto_awesome </span>
        <h3>{{ data.title }}</h3>
      </div>
      <div class="quote-body"><h4>{{ data.body }}</h4></div>
    </div>
  </div>
</div>
